@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.contact {
  padding: 86px 0;

  &__wrapper {
    position: relative;
    background-image: url('../images/home/contact-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 83px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--radius-main);

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      background-color: var(--color-blue-600);
      border-radius: var(--radius-main);
    }
  }

  h2 {
    position: relative;
    z-index: 3;
    color: var(--color-white);
    max-width: 357px;
    text-transform: none;
  }

  &__form {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    max-width: 575px;
    width: 100%;
    gap: 6px;
  }

  label {
    width: 100%;
  }

  input {
    font-weight: var(--fw-400);
    font-style: italic;
    max-width: 349px;
    border: none;
    border-radius: var(--radius-btn);
    padding: 28px 23px;
    width: 100%;
    color: var(--color-gray-200);
    background-color: var(--color-white);
    font-size: 18px;
    line-height: 1.2;

    &::placeholder {
      color: var(--color-gray-200);
    }
  }

  .btn {
    border: 1px solid transparent;
    max-width: 221px;
    padding: 28px 59px;
    color: var(--color-white);

    &:hover,
    &:focus {
      border: 1px solid var(--color-red-400);
      color: var(--color-white-100);
      background-color: transparent;
    }
  }

  @include media(tablet) {

    &__wrapper {
      flex-direction: column;
      gap: 20px;
    }

    h2 {
      max-width: 100%;
      text-align: center;
    }
  }

  @include media(mobile-l) {
    padding: 40px 0;

    &__form {
      flex-direction: column;

    }

    input, .btn {
      max-width: 100%;
    }

  }

  @include media(mobile-m) {

    &__wrapper {
      padding: 60px 40px;
    }
  }

}
