@use '../utils/functions/' as *;
@use '../utils/mixins' as *;

html,
body {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

.page {
  font-family: var(--font-family-primary);
  font-weight: var(--fw-700);
  font-style: normal;
  font-size: clamp(16px, 1vw, 20px);
  line-height: 1;
  letter-spacing: 0;
  background-color: var(--color-white);
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;

  &__body {
    min-width: 320px;
    min-height: var(--vh);
  }

  &.open {
    overflow: hidden;
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);

}

.site-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
}

.background-light {
  background-color: var(--color-white-75);
}

.logo {
  max-width: 391px;
  width: 100%;
}



.circle {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: var(--color-gray-400);
    border-radius: 50%;
  }
}

